@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 103vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scorePanel {
    position: absolute;
    top: 120px;
    right: 200px;
    background-color: rgba(227, 214, 214, 0.8); 
    padding: 10px 20px; 
    border-radius: 15px;
    border: 3px solid #FF0000; 
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5); 
}

#scoreBox, #hiscoreBox {
    font-size: 24px; 
    font-family: 'Press Start 2P', cursive; 
    color: #FF0000; 
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7); 
    margin-bottom: 10px;
}

#board {
    background-image: url(/img/model/Grass.png);
    background-size: 32px;
    width: 80vmin;
    height: 72vmin;
    border: 10px solid rgb(100, 10, 10);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.headleft {
    background-image: url(/img/model/S-head.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.02);
}

.headup{
    background-image: url(/img/model/S-head.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg) scale(1.02);
}

.headdown{
    background-image: url(/img/model/S-head.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(270deg) scale(1.02);
}

.headright{
    background-image: url(/img/model/S-head.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg) scale(1.02);
}

.snake {
    background-image: url(/img/model/S-body.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.food {
    background-image: url(/img/model/Food.png);
    background-size: contain;
    background-repeat: no-repeat;
}